<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap/4.0.0/bootstrap.css}">
    <title>home</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">home</a>
            <a class="navbar-brand" href="/signUpView">Sign Up</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}">logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>home</h1>
</div>
</body>

</html>
