<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap/4.0.0/bootstrap.min.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title>form</title>
</head>
<body>
<div class="container">
    <div >
        <h1 >form</h1>
        <br/>
        <form action="/signUp" method="POST" enctype="utf8">
            <div class="form-group row">
                <label class="col-sm-3">last</label>
                <span class="col-sm-5">
                    <input class="form-control" name="username" value="" required="required"/>
                </span>
                <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">email</label>
                <span class="col-sm-5">
                    <input type="email" class="form-control" name="email" value="" required="required"/>
                </span>
                <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" >password</label>
                <span class="col-sm-5">
                    <input id="password" class="form-control" name="password" value="" type="password" required="required"/>
                </span>
                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" >confirm</label>
                <span class="col-sm-5"><input id="matchingPassword" class="form-control" name="matchingPassword" value="" type="password" required="required"/></span>
                <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
           <!-- <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.user.2fa}">Use Two Step Verification</label>
                <span class="col-sm-5"><input type="checkbox" name="using2FA" value="true"/></span>
            </div>-->
            <br/>
            <button class="btn btn-primary" >submit</button>
        </form>
        <br/>
        <a th:href="@{/login}">login</a>
    </div>
</div>

</body>

</html>